*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
/* .frame{
  
  background-color: aqua;
  margin:210px 410px;
padding-bottom: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
  
}
.one{
  color: red;
  font-weight: bolder;
  font-size: 19px;
  padding: 20px 0px;
  
}
.two{
    color: red;
  font-weight: bolder;
  font-size: 19px;
  padding: 20px 0px;
  padding-bottom: 40px;
}
button{
  color: blue;
  padding: 20px;
  border-radius: 100px;
  border: 2px solid red;
  cursor: pointer;
}

 */
